@model HappyThoughts.Web.ViewModels.Categories.TopicsByCategoryNameViewModel

@using HappyThoughts.Common
@{
    this.ViewData["Title"] = $"All topics for {Model.CategoryName}";
}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
        <div class="text-center">
            <h1>'@Model.CategoryName'</h1>
            <img width="200" src="@Model.PictureUrl" />
        </div>
        <hr />
        <div class="list-group-horizontal-sm">
            @if (!Model.CategoryTopics.Topics.Any())
            {
                <h1 class="text-center">Nothing Here!</h1>
                <h3 class="text-center">
                    <a class="btn btn-primary" href="/Home/Index">
                        Current trending topics
                    </a>
                </h3>
            }
            else
            {
                @foreach (var topic in Model.CategoryTopics.Topics)
                {
                    <a asp-controller="Topics" asp-action="Details" asp-route-topicId="@topic.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="media">
                            @if (topic.PictureUrl == null)
                            {
                                <img class="align-self-center mr-3 img-thumbnail" src="https://res.cloudinary.com/doyjshrjs/image/upload/v1583873417/no_image_uj863g.jpg" width="120" height="120" alt="@topic.Title">
                            }
                            else
                            {
                                <img class="align-self-center mr-3 img-thumbnail" src="@topic.PictureUrl" width="120" height="120" alt="@topic.Title">
                            }
                            <div class="media-body">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@topic.Title</h5>
                                    <small><time datetime="@topic.CreatedOn.ToString("O")"></time></small>
                                </div>
                                <p class="mb-1">@topic.CleanContent</p>

                                <div class="d-flex w-100 justify-content-between">
                                    <h6>
                                        <i class="fas fa-user"></i> @topic.AuthorUsername
                                        &nbsp; <i class="fas fa-thumbs-up"></i> @topic.Likes
                                        &nbsp; <i class="fas fa-thumbs-down"></i> @topic.Dislikes
                                        &nbsp; <i class="fas fa-eye"></i> @topic.Views
                                        &nbsp; <i class="fas fa-comments"></i> @topic.CommentsCount
                                    </h6>
                                    <h6>Category: @topic.CategoryName</h6>
                                </div>
                            </div>
                        </div>

                    </a>
                }

                <br />

                <ul class="pagination justify-content-center">
                    @if (!Model.CategoryTopics.IsPreviousPageDisabled)
                    {
                        <li class="page-item"><a class="page-link" href="/Categories/ByName?name=@Model.CategoryName&page=1"><i class="fas fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="/Categories/ByName?name=@Model.CategoryName&page=@Model.CategoryTopics.PreviousPage">@Model.CategoryTopics.PreviousPage</a></li>
                    }
                    <li class="page-item active"><a class="page-link" href="/Categories/ByName?name=@Model.CategoryName&page=@Model.CategoryTopics.CurrentPage">@Model.CategoryTopics.CurrentPage</a></li>
                    @if (!Model.CategoryTopics.IsNextPageDisabled)
                    {
                        <li class="page-item"><a class="page-link" href="/Categories/ByName?name=@Model.CategoryName&page=@Model.CategoryTopics.NextPage">@Model.CategoryTopics.NextPage</a></li>
                        <li class="page-item"><a class="page-link" href="/Categories/ByName?name=@Model.CategoryName&page=@Model.CategoryTopics.MaxPages"><i class="fas fa-angle-double-right"></i></a></li>
                    }
                </ul>
            }
        </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Side Widget -->
        @await Html.PartialAsync("_PromptingWidgetPartial")

        <!-- Categories Widget -->
        @await Html.PartialAsync("_PopularCategoriesWidgetPartial", Model.CategoryTopics.Categories)

        <!-- Rules Widget-->
        @await Html.PartialAsync("_ForumRulesWidgetPartial")
    </div>

</div>
<!-- /.row -->
<!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
