@model HappyThoughts.Web.ViewModels.Forums.ForumStatsViewModel

<br />
<div class="card text-center">
    <h4 class="card-header">Statistics</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Topics: <strong>@Model.TotalTopicsCount</strong></li>
        <li class="list-group-item">Total Categories: <strong>@Model.TotalCategoriesCount</strong></li>
        <li class="list-group-item">Total Users: <strong>@Model.TotalUsersCount</strong></li>
        <li class="list-group-item">Total Admins: <strong>@Model.TotalAdminsCount</strong></li>
        <li class="list-group-item">Total Moderators: <strong>@Model.TotalModeratorsCount</strong></li>
    </ul>
</div>