@model HappyThoughts.Web.ViewModels.Topics.TopicsListingViewModel

@using HappyThoughts.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<!-- Page Content -->
<div class="container">
    <div class="row col-lg-9 text-center">
        <div class="btn-group btn-group-toggle col-lg-11">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Today</a>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Trend</a>
            <a class="btn btn-primary" asp-controller="Categories" asp-action="All">Categories</a>
        </div>
    </div>

    <br />

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <div class="list-group-horizontal-sm">
                @foreach (var topic in Model.Topics)
                {
                    <a href="/Topics/Details?topicId=@topic.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@topic.Title</h5>
                            <small>@topic.CreatedOn</small>
                        </div>
                        <p class="mb-1">@topic.Content</p>

                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <i class="fas fa-user"></i> @topic.AuthorUsername
                                &nbsp; <i class="fas fa-eye"></i> @topic.Views
                                &nbsp; <i class="fas fa-comments"></i> @topic.CommentsCount
                                &nbsp; <i class="fas fa-thumbs-up"></i> @topic.Likes
                                &nbsp; <i class="fas fa-thumbs-down"></i> @topic.Dislikes
                            </h6>
                            <h6>Category: @topic.CategoryName</h6>
                        </div>
                    </a>
                }
            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Side Widget -->
            @await Html.PartialAsync("_PromptingWidgetPartial")

            <!-- Search Widget -->
            @await Html.PartialAsync("_SearchWidgetPartial")

            <!-- Categories Widget -->
            @await Html.PartialAsync("_PopularCategoriesPartial", Model.Categories)


        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
