@using HappyThoughts.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model HappyThoughts.Web.ViewModels.Topics.TopicDetailsViewModel

@{
    this.ViewData["Title"] = "Topic Details";
}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">@Model.AuthorUsername</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p class="text-center"><b>Published On: @Model.CreatedOn | Category: @Model.CategoryName | Views: @Model.Views</b></p>

            <hr>

            <!-- Preview Image -->
            <div class="text-center">
                <img class="img-fluid rounded" src="@Model.PictureUrl" alt="topic picture">
            </div>

            <hr>

            <!-- Post Content -->
            <p class="lead">
                @Model.Content
            </p>

            <div class="text-center">
                <button type="button" class="btn btn-outline-danger">Report</button>
            </div>

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea id="Content" name="Content" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="AuthorId" value="@Model.AuthorId" />
                        <input type="hidden" id="TopicId" name="TopicId" value="@Model.Id" />
                        <div class="form-group">
                            <input asp-controller="Comments" asp-action="Create" type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            @foreach (var comment in Model.Comments)
            {
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">User: @comment.AuthorName</h5>
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">@comment.Content</h6>
                            <small>Commented on: @comment.CreatedOn.ToString()</small>
                        </div>
                    </div>
                </div>
            }

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            @if (!this.SignInManager.IsSignedIn(this.User))
            {
                <div class="card my-4">
                    <h5 class="card-header">Why are you still waiting?</h5>
                    <div class="card-body">
                        Aren't you tired of working in boring plazas? Relieve your stress, share your knowledge.
                    </div>
                    <a href="/Identity/Account/Register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Register</a>
                </div>
            }

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" type="button">Search</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

