@using HappyThoughts.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using HappyThoughts.Common;

@model HappyThoughts.Web.ViewModels.Users.ApplicationUserDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["Title"] = Model.UserName;
}

@if (this.TempData["SuccessInfo"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData["SuccessInfo"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.TempData["UnsuccessInfo"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @this.TempData["UnsuccessInfo"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            @if (Model.ProfilePictureUrl == null)
                            {
                                <div class="image-container">
                                    <img src="https://res.cloudinary.com/doyjshrjs/image/upload/v1584395277/Profile-PNG-Icon-715x715_smb7cf.png" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail no-resize" />
                                    <div class="middle">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="image-container">
                                    <img src="@Model.ProfilePictureUrl" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail no-resize" />
                                    <div class="middle">
                                    </div>
                                </div>
                            }
                            <div class="userData ml-3">
                                @if (Model.IsBanned)
                                {
                                    <span class="badge badge-pill badge-danger">Banned</span>
                                }
                                @if (Model.IsAdmin)
                                {
                                    <span class="badge badge-pill badge-success">Admin</span>
                                }
                                @if (Model.IsModerator)
                                {
                                    <span class="badge badge-pill badge-info">Moderator</span>
                                }
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">@Model.UserName</a></h2>
                                <h6 class="d-block">@Model.Topics.Count() Topics Created | @Model.FollowersCount Followers | @Model.FollowingUsersCouint Following</h6>
                                <h6 class="d-block">@Model.Biography</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                            <div>
                                <a asp-controller="Reports" asp-action="ReportUser" asp-route-userId="@Model.Id" class="btn btn-outline-secondary btn-sm"><i class="far fa-flag"></i> Report</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <br />
                            @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) != Model.Id)
                            {
                                if (Model.IsFollowing == false)
                                {
                                    <a asp-controller="Users" asp-action="Follow" asp-route-followedUserId="@Model.Id" class="btn btn-outline-primary btn-sm"><i class="fas fa-bell"></i> Follow</a>
                                }
                                else
                                {
                                    <a asp-controller="Users" asp-action="Unfollow" asp-route-unfollowedUserId="@Model.Id" class="btn btn-outline-danger btn-sm"><i class="fas fa-bell-slash"></i> Unfollow</a>
                                }
                                <a asp-controller="Messages" asp-action="Chat" asp-route-receiverId="@Model.Id" class="btn btn-outline-success btn-sm"><i class="fas fa-share-square"></i> Message</a>

                            }
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))
                            {
                                if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    if (Model.IsModerator)
                                    {
                                        <a asp-controller="Users" asp-action="Demote" asp-route-userId="@Model.Id" class="btn btn-outline-danger btn-sm"><i class="fas fa-angle-double-down"></i> Demote</a>
                                    }
                                    else if (Model.IsModerator == false && this.User.FindFirstValue(ClaimTypes.NameIdentifier) != Model.Id)
                                    {
                                        <a asp-controller="Users" asp-action="Promote" asp-route-userId="@Model.Id" class="btn btn-outline-primary btn-sm"><i class="fas fa-angle-double-up"></i> Promote</a>
                                    }
                                }
                                if (Model.IsBanned)
                                {
                                    <a asp-controller="Users" asp-action="Unban" asp-route-userId="@Model.Id" class="btn btn-outline-success btn-sm"><i class="fas fa-unlock"></i> Unban</a>
                                }
                                else if (Model.IsBanned == false)
                                {
                                    if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) != Model.Id)
                                    {
                                        <a asp-controller="Users" asp-action="Ban" asp-route-userId="@Model.Id" class="btn btn-outline-danger btn-sm"><i class="fas fa-lock"></i> Ban</a>
                                    }
                                }
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Latest Topics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="top-rated-topics-tab" data-toggle="tab" href="#top-rated-topics" role="tab" aria-controls="topRatedTopics" aria-selected="false">Top Rated Topics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="most-viewed-topics-tab" data-toggle="tab" href="#most-viewed-topics" role="tab" aria-controls="mostViewedTopics" aria-selected="false">Most Viewed Topics</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Full Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(string.IsNullOrEmpty(Model.FullName) || string.IsNullOrWhiteSpace(Model.FullName) ? "No Information" : Model.FullName)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Birthday</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(Model.Birthday.Contains("1.1.0001") ? "No Information" : Model.Birthday)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Registered On</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(Model.CreatedOn != null ? Model.CreatedOn : "No Information")
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Location</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(string.IsNullOrEmpty(Model.Location) || string.IsNullOrWhiteSpace(Model.Location) ? "No Information" : Model.Location)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Gender</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            @(Model.Gender != "Not_Selected" ? Model.Gender : "No Information")
                                        </div>
                                    </div>
                                    @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id)
                                    {
                                        <br />
                                        <a class="btn btn-primary" asp-area="Identity" asp-controller="Account" asp-action="Manage">Change</a>
                                    }

                                </div>
                                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                    <div class="list-group-horizontal-sm">
                                        @foreach (var topic in Model.Topics.OrderByDescending(t => t.CreatedOn))
                                        {
                                            <a asp-controller="Topics" asp-action="Details" asp-route-topicId="@topic.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="media">
                                                    @if (topic.PictureUrl == null)
                                                    {
                                                        <img class="align-self-center mr-3 img-thumbnail" src="https://res.cloudinary.com/doyjshrjs/image/upload/v1583873417/no_image_uj863g.jpg" width="120" height="120" alt="@topic.Title">
                                                    }
                                                    else
                                                    {
                                                        <img class="align-self-center mr-3 img-thumbnail" src="@topic.PictureUrl" width="120" height="120" alt="@topic.Title">
                                                    }
                                                    <div class="media-body">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@topic.Title</h5>
                                                            <small><time datetime="@topic.CreatedOn.ToString("O")"></time></small>
                                                        </div>
                                                        <p class="mb-1">@topic.CleanContent</p>

                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h6>
                                                                <i class="fas fa-user"></i> @topic.AuthorUsername
                                                                &nbsp; <i class="fas fa-thumbs-up"></i> @topic.Likes
                                                                &nbsp; <i class="fas fa-thumbs-down"></i> @topic.Dislikes
                                                                &nbsp; <i class="fas fa-eye"></i> @topic.Views
                                                                &nbsp; <i class="fas fa-comments"></i> @topic.CommentsCount
                                                            </h6>
                                                            <h6>Category: @topic.CategoryName</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="top-rated-topics" role="tabpanel" aria-labelledby="top-rated-topics-tab">
                                    <div class="list-group-horizontal-sm">
                                        @foreach (var topic in Model.Topics.OrderByDescending(t => t.Likes).ThenBy(t => t.Dislikes))
                                        {
                                            <a asp-controller="Topics" asp-action="Details" asp-route-topicId="@topic.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="media">
                                                    @if (topic.PictureUrl == null)
                                                    {
                                                        <img class="align-self-center mr-3 img-thumbnail" src="https://res.cloudinary.com/doyjshrjs/image/upload/v1583873417/no_image_uj863g.jpg" width="120" height="120" alt="@topic.Title">
                                                    }
                                                    else
                                                    {
                                                        <img class="align-self-center mr-3 img-thumbnail" src="@topic.PictureUrl" width="120" height="120" alt="@topic.Title">
                                                    }
                                                    <div class="media-body">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@topic.Title</h5>
                                                            <small><time datetime="@topic.CreatedOn.ToString("O")"></time></small>
                                                        </div>
                                                        <p class="mb-1">@topic.CleanContent</p>

                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h6>
                                                                <i class="fas fa-user"></i> @topic.AuthorUsername
                                                                &nbsp; <i class="fas fa-thumbs-up"></i> @topic.Likes
                                                                &nbsp; <i class="fas fa-thumbs-down"></i> @topic.Dislikes
                                                                &nbsp; <i class="fas fa-eye"></i> @topic.Views
                                                                &nbsp; <i class="fas fa-comments"></i> @topic.CommentsCount
                                                            </h6>
                                                            <h6>Category: @topic.CategoryName</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="most-viewed-topics" role="tabpanel" aria-labelledby="most-viewed-topics-tab">
                                    <div class="list-group-horizontal-sm">
                                        @foreach (var topic in Model.Topics.OrderByDescending(t => t.Views))
                                        {
                                            <a asp-controller="Topics" asp-action="Details" asp-route-topicId="@topic.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="media">
                                                    @if (topic.PictureUrl == null)
                                                    {
                                                        <img class="align-self-center mr-3 img-thumbnail" src="https://res.cloudinary.com/doyjshrjs/image/upload/v1583873417/no_image_uj863g.jpg" width="120" height="120" alt="@topic.Title">
                                                    }
                                                    else
                                                    {
                                                        <img class="align-self-center mr-3 img-thumbnail" src="@topic.PictureUrl" width="120" height="120" alt="@topic.Title">
                                                    }
                                                    <div class="media-body">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@topic.Title</h5>
                                                            <small><time datetime="@topic.CreatedOn.ToString("O")"></time></small>
                                                        </div>
                                                        <p class="mb-1">@topic.CleanContent</p>

                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h6>
                                                                <i class="fas fa-user"></i> @topic.AuthorUsername
                                                                &nbsp; <i class="fas fa-thumbs-up"></i> @topic.Likes
                                                                &nbsp; <i class="fas fa-thumbs-down"></i> @topic.Dislikes
                                                                &nbsp; <i class="fas fa-eye"></i> @topic.Views
                                                                &nbsp; <i class="fas fa-comments"></i> @topic.CommentsCount
                                                            </h6>
                                                            <h6>Category: @topic.CategoryName</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
