@model HappyThoughts.Web.ViewModels.Messages.ChatDetailsViewModel

@{
    this.ViewBag.Title = "Chat";
}

<h1 class="text-center">@this.ViewBag.Title with <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.ReceiverId">@this.ViewData["ReceiverName"]</a></h1>


@if (Model.Messages.Count() == 0)
{
    <br />
    <h2 class="text-center">No messages yet! Start a new conversation!</h2>
    <br />
}

<div id="messagesContainer">
    @foreach (var message in Model.Messages)
    {
        <div class="row">
            <div class="offset-1 col-10">
                <p>
                    @if (message.Sender.UserName == this.User.Identity.Name)
                    {
                        <div class="row">
                            <div class="offset-1 col-2">
                                Me
                            </div>
                            <div class="offset-6 col-3">
                                @message.SentOn
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-1 col-11 card bg-light">
                                <div class="card-body d-flex w-100 justify-content-between">
                                    <div>
                                        @message.Content
                                    </div>
                                    <div>
                                        <a class="btn btn-danger btn-sm" asp-controller="Messages" asp-action="Delete" asp-route-messageId="@message.Id" asp-route-receiverId="@Model.ReceiverId" asp-route-senderId="@Model.SenderId">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-2">
                                @message.Sender
                            </div>
                            <div class="offset-6 col-3">
                                @message.SentOn
                            </div>
                        </div>
                        <div class="card bg-primary col-11">
                            <div class="card-body text-white">
                                @message.Content
                            </div>
                        </div>
                    }
                </p>
            </div>
        </div>
    }
</div>

<hr />

<div class="container">
    <div id="message-holder" class="mt-3 d-flex justify-content-start">
        <h4>Message</h4>
        <textarea class="w-75 ml-4 pl-3" type="text" id="messageInput" placeholder="Message..."></textarea>
        <button id="sendButton" class="ml-4 btn btn-outline-primary btn-lg">Send</button>
    </div>
    <hr style="height: 5px;" class="bg-dark" />
    <div id="messagesContainer" style="font-size: 28px;">
    </div>
</div>

@section Scripts {
    <script>
    var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = ``;
                if (message.isCurrentUserMessage) {
                    chatInfo = `<div class="row">
                                <div class="offset-1 col-10">
                                    <p>
                                        <div class="row">
                                            <div class="offset-1 col-2">
                                                Me
                                            </div>
                                            <div class="offset-6 col-3">
                                                ${message.sentOn}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="offset-1 col-11 card bg-light">
                                                <div class="card-body">
                                                     ${escapeHtml(message.text)}
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                             </div>`
                }
                else {
                chatInfo = `<div class="row">
                                <div class="offset-1 col-10">
                                    <p>
			                            <div class="row">
                                            <div class="col-2">
                                                ${message.senderName}
                                            </div>
                                            <div class="offset-6 col-3">
                                                 ${message.sentOn}
                                            </div>
                                        </div>
                                        <div class="card bg-primary col-11">
                                            <div class="card-body text-white">
                                                ${escapeHtml(message.text)}
                                            </div>
                                        </div>
		                            </p>
                                </div>
                             </div>`
                }
                $("#messagesContainer").append(chatInfo);
            });

        $("#sendButton").click(function () {
            var message = $("#messageInput").val();
            var receiverId = '@Model.ReceiverId'
            connection.invoke("Send", message, receiverId);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        $(document).ready(function () {
            $([document.documentElement, document.body]).animate({
            scrollTop: $("#sendButton").offset().top
             }, 0);
        });
    </script>

}