@model IEnumerable<HappyThoughts.Web.ViewModels.Messages.MessageInfoViewModel>

@{
    this.ViewBag.Title = "Inbox";
}

<div class="text-center">
    <h1>Inbox</h1>
</div>
<br />
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Messages/SentBox">Sent Box</a>
            </li>
        </ul>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Last Message
                        </th>
                        <th>
                            SendOn
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model)
                    {
                        <tr>
                            <td width="200">
                                <a asp-controller="Users" asp-action="Profile" asp-route-id="@message.SenderId">@message.Sender.UserName</a>
                            </td>
                            <td width="600">
                                <a asp-controller="Messages" asp-action="Chat" asp-route-receiverId="@message.SenderId">@message.ShortContent</a>
                            </td>
                            <td>
                                <time datetime="@message.SentOn.ToString("O")"></time>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
